* {
  box-sizing: border-box;
  font-family: "Helvetica", sans-serif;
}

.App {
  text-align: center;
  padding: 15px;
  margin: 10px auto;
}

.react-csv-input {
  margin-bottom: 25px;
}

.csv-input {
  padding: 10px;
  display: none;
  margin: 15px auto;
  border: 1px solid #ccc;
  border-radius: 5px;
}

label {
  padding: 10px;
  color: #fff;
  background-color: rgb(42, 172, 96);
  cursor: pointer;
}

.List {
  margin: 30px 0 0 0;
  border: 1px solid #000;
}

.ListItem {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #000;
}

.ListItem div {
  padding: 10px;
}

.ListItem:last-child {
  border-bottom: none;
}

.ListItem__id {
  width: 20px;
}

.ListItem__name {
  width: 180px;
}

.ListItem__phone {
  width: 160px;
}

.ListItem__email {
  width: 250px;
}

.ListItem__age {
  width: 40px;
}

.ListItem__income {
  width: 80px;
}

.ListItem__exp {
  width: 100px;
}

.ListItem__children {
  width: 70px;
}

.ListItem__state {
  width: 60px;
}

.ListItem__date {
  width: 100px;
}

.ListItem__license {
  width: 80px;
}

.ListItem__duplicate {
  width: 100px;
}

.title {
  font-weight: bold;
}

.incorrect {
  background-color: rgb(255, 142, 160);
}